.main_box {
  flex: 0 0 47.5%;
  @media (max-width: 768px) {
    // display: grid;
    flex-wrap: nowrap;
  }

  .my_intro_block {
    margin: 4rem 0;
  }

  .content_block {
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-between;
    @media (max-width: 768px) {
      width: 100%;
      // display: grid;
      flex-wrap: nowrap;
      word-break: break-word;
      white-space: normal;
    }

    &_title {
      flex: 0 0 20%;
      text-align: center;
      @media (max-width: 768px) {
        // display: grid;
        flex-wrap: nowrap;
        word-break: break-word;
        white-space: normal;
      }
    }

    &_content {
      flex: 0 0 78%;
      @media (max-width: 768px) {
        // display: grid;
        flex-wrap: nowrap;
        word-break: break-word;
        white-space: normal;
      }
    }
  }
}

.content_li {
  display: flex;
  @media (max-width: 768px) {
    // display: grid;
    flex-wrap: nowrap;
    word-break: break-word;
    white-space: normal;
  }
}
