section {
  margin-bottom: 3.2rem;
}

header {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    display: grid;
    word-break: break-word;
    white-space: normal;
  }
}

.header_my_info {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    // font-size: 1em;
    display: grid;
    width: 100%;
  }
}

a {
  color: #cccccc;
}

.header_inner_left {
  flex: 0 0 100%;

  @media (max-width: 768px) {
    margin: 0 auto;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
  }
}
.header_inner_right {
  flex: 0 0 31.5%;
  position: relative;
  right: 0;
  //   display: flex;
  //   display: flex;
  //   justify-content: right;
  //   width: 100%;
  //   float: right;
  //   text-align: right;
}

.info_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.8rem;

  @media (max-width: 768px) {
    display: grid;
    margin: 0.8em auto;
    width: 100%;
    position: relative;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
  }
}

.my_info_block {
  width: 47.5%;
  height: 100%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.my_info_box {
  // position: absolute;
  // display: grid;
  display: flex;
  // float: right;
  justify-content: space-between;
  // height: 65%;
  height: 100%;
  right: 0px;
  // width: 56%;
  width: 90%;
  //   margin-top: 1rem;
  line-height: 1.3rem;
  @media (max-width: 768px) {
    margin: 0.8em auto;
    width: 100%;
    font-size: 12px;
    position: relative;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1rem;
  }

  .text_box {
    width: 100%;
  }

  a {
    word-break: break-all;
  }

  &_inner {
    display: flex;
    margin: 0.5rem 0 0.5rem 0;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0.35rem;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 1rem;
    }

    .click_dir {
      margin-left: 0.5rem;
      font-weight: 900;
      font-size: 0.65rem;
      color: coral;
    }
  }
}

// .header_info {
//   flex: 0 0 50%;
//   //   width: 100%;
// }

.main_block {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: auto;

  @media (max-width: 768px) {
    display: grid;
    word-break: break-word;
    white-space: normal;
  }
}

.main_box {
  display: grid;
}

.total_block {
  width: 73%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  line-height: 1rem;

  @media (max-width: 768px) {
    width: 100%;
    display: block; // flex 또는 grid 사용 중이면 block으로 바꿔서 줄바꿈 유도
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1rem;
    // padding: 0 1rem;
  }
}

.pdf_block {
  position: absolute;
  right: 1rem;
  top: 2rem;
  &_btn {
    background-color: #6666;
    color: #fff;
    font-size: 1rem;
    font-weight: 900;
  }
}

.skill_box {
  // width: 408px;
  width: 47.5%;
  @media (max-width: 768px) {
    width: 100%;
  }
  // display: grid;
  // align-items: last baseline;
}

.my_info_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: grid;
    margin: 0.8em auto;
    width: 100%;
    position: relative;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
  }

  .info_inner_box {
    // display: grid;
  }
}

.skill_container {
  display: flex;
  // width: 370px;
  // float: right;
  width: 90%;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: flex;
    width: 100%;
    font-size: 12px;
    // display: block; // flex 또는 grid 사용 중이면 block으로 바꿔서 줄바꿈 유도
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1rem;
    // pad
  }
  // justify-content: space-between;
}

.skill_tilte_block {
  width: 4.9em;
}

.skill_title_text {
  font-weight: bold;
  font-size: 1.7em;
  margin: 13px 5px;
}
