.text_dohyeon_small_title {
  font-family: 'Do Hyeon', sans-serif;
  font-weight: normal;
  text-align: left;
  line-height: 1rem;
  font-size: 1rem;
  &_inner {
    font-size: 1.4em;
    line-height: 1em;
    margin: 0.5em 0;
    @media (max-width: 768px) {
      font-size: 0.9em;
      width: 95%;
      display: grid;
    }
  }
  //   font-size: 20em;
}
.text_gothic_a1_big_title {
  font-family: 'Gothic A1', sans-serif;
  text-align: left;
  font-size: 0.8em;
  line-height: 1rem;
  margin: 1.3em 0;
  //   font-size: 0.4em;
  @media (max-width: 768px) {
    font-size: 1em;
    width: 100%;
  }
  &_inner {
    font-weight: 900;
    line-height: 1em;
    @media (max-width: 768px) {
      font-size: 1em;
      display: grid;
    }
  }
}
.text_black_hansans_content {
  font-family: 'Black Han Sans, sans-serif';
  font-weight: normal;
  text-align: left;
  line-height: 1.45rem;

  // font-size: 1rem;
  @media (max-width: 768px) {
    font-size: 0.76em;
    line-height: 1rem;
    width: 100%;
  }

  &_inner {
    font-size: 1.1em;
    line-height: 1.2em;
    @media (max-width: 768px) {
      font-size: 1em;
      width: 100%;
    }
  }
  //   font-size: 10em;
}

.text_box {
  display: grid;
  align-items: center;
  margin: 0.2em 0;
  &_ul {
    padding: 0;
    margin-top: 0;
    // padding-left: 0.5rem;
  }
}

.project_header {
  display: flex;
  flex: 0 0 30%;

  @media (max-width: 768px) {
    // flex: 0 0 40%;
    font-size: 1em;
    display: flex;
    align-content: center;
    // display: grid;
  }
  //   justify-content: space-around;
}

.project_date {
  // margin-left: 1.4rem;
  margin: 0.5em 1.4rem;
  font-size: 1em;
  //   display: flex;
  //   align-content: flex-end;
  @media (max-width: 768px) {
    // flex: 0 0 40%;
    font-size: 1em;
    display: flex;
    align-content: center;
    // display: grid;
  }
}

// .skill_block {
//   // display: grid;
// }

.skill_text {
  color: grey;
  font-size: 15px;
  font-weight: 700;
  margin: 0.7em 0.7em 0.7em 0;
  @media (max-width: 768px) {
    width: 100%;
    font-size: 12px;
    display: block; // flex 또는 grid 사용 중이면 block으로 바꿔서 줄바꿈 유도
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1rem;
    // padding: 0 1rem;
  }
}

.another_skill_text {
  color: tomato;
  font-size: 15px;
  @media (max-width: 768px) {
    width: 100%;
    font-size: 12px;
    display: block; // flex 또는 grid 사용 중이면 block으로 바꿔서 줄바꿈 유도
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1rem;
    // pad
  }
}

.small_size {
  font-size: 0.74em;
  text-align: left;
}

.position_block {
  display: flex;
  font-size: 1rem;
  margin: 0.9rem 0;
  width: 11rem;
  justify-content: space-between;
  @media (max-width: 768px) {
    margin: 0.4rem 0;
  }
}

.link_text {
  display: flex;
  width: 6.5em;
  justify-content: space-between;
  margin: 0.5rem 0;
  // padding-top: 1.1%;
  @media (max-width: 768px) {
    font-size: 0.7em;
  }
}

.study_link {
  // display: flex;
  margin-left: 14px;
  width: 9em;
  display: flex;
  justify-content: space-between;
}

.click_dir {
  margin-left: 0.5rem;
  font-weight: 900;
  color: coral;
}
